----------

## <span style="color:green">Финальный комментарий от наставника<span>

Привет! Поздравляю с первым сданным проектом! :)

Оглавление просто огонь! Твой проект стал максимально структурным и понятным. Все доработки учтены, есть конкретные рекомендации, молодец!

До встречи на консультации :)

---------

----------

## <span style="color:green">Комментарий от наставника<span>

Привет! Спасибо, что сдал проект вовремя. Ты проделал большую работу, молодец! В этой тетрадке ты найдешь мои комментарии, оформленные точно так же, как этот ;) 

В комментариях я добавила два пункта.

### Что можно сделать лучше:

Пункты, которые ты можешь забрать в копилку знаний и применять в следующем проекте.   
   
### Что нужно доработать:

Пункты, которые нужно улучшить для того, чтобы я приняла проект.

Поехали! :)

---------

----------

## <span style="color:green">Комментарий от наставника<span>

### Что можно сделать лучше:
В начале каждой презентации и проекта, важно дать краткое описание данных и целей исследования. Например, ты можешь скопировать описание проекта.
   
---------

Готово!

# <a name="contents">Задачи исследования</a>
## [1. Осмотр данных](#stage_1)
    - посмотрим начало и конец датасета
    - сделаем предварительные выводы
    - поищем аномалии
    

## [2. Обработка данных](#stage_2)
    - найти и обработать пропуски
    - заменить некорректные типы данных
    - удалить дубликаты
    - выделить леммы


## [3. Ответы на вопросы](#stage_3)
    - Есть ли зависимость между наличием детей и возвратом кредита в срок?
    - Есть ли зависимость между семейным положением и возвратом кредита в срок?
    - Есть ли зависимость между уровнем дохода и возвратом кредита в срок?
    - Как разные цели кредита влияют на его возврат в срок?


## [4. Результаты исследования](#stage_4)
    - Общие выводы
    - Рекомендации

<a name="stage_1"></a>
# Этап 1. Получим данные, импортируем библиотеки


[Наверх к оглавлению](#contents)

In [1]:
import pandas as pd
import numpy as np
import pprint

from pymystem3 import Mystem
from collections import Counter

## Прочтем данные и посмотрим на них
Посмотрим начало, конец и описательные статистики и информацию о датасете.

In [2]:
df = pd.read_csv('/datasets/data.csv') 
df.head(10)

,children,days_employed,dob_days,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи

In [3]:
df.tail(10)

,children,days_employed,dob_days,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
21515,1,-467.685130,28,среднее,1,женат / замужем,0,F,сотрудник,1,109486.327999,заняться образованием
21516,0,-914.391429,42,высшее,0,женат / замужем,0,F,компаньон,0,322807.776603,покупка своего жилья
21517,0,-404.679034,42,высшее,0,гражданский брак,1,F,компаньон,0,178059.553491,на покупку своего автомобиля
21518,0,373995.710838,59,СРЕДНЕЕ,1,женат / замужем,0,F,пенсионер,0,153864.650328,сделка с автомобилем
21519,1,-2351.431934,37,ученая степень,4,в разводе,3,M,сотрудник,0,115949.039788,покупка коммерческой недвижимости
21520,1,-4529.316663,43,среднее,1,гражданский брак,1,F,компаньон,0,224791.862382,операции с жильем
21521,0,343937.404131,67,среднее,1,женат / замужем,0,F,пенсионер,0,155999.806512,сделка с автомобилем
21522,1,-2113.346888,38,среднее,1,гражданский брак,1,M,сотрудник,1,89672.561153,недвижимость
21523,3,-3112.481705,38,среднее,1,женат / замужем,0,M,сотрудник,1,244093.050500,на покупку своего автомобиля
21524,2,-1984.507589,40,среднее,1,женат / замужем,0,F,сотрудник,0,82047.418899,на покупку автомобиля

In [4]:
df.describe()

,children,days_employed,dob_days,education_id,family_status_id,debt,total_income
count,21525.000000,19351.000000,21525.000000,21525.000000,21525.000000,21525.000000,1.935100e+04
mean,0.538908,63046.497661,43.293380,0.817236,0.972544,0.080883,1.674223e+05
std,1.381587,140827.311974,12.574584,0.548138,1.420324,0.272661,1.029716e+05
min,-1.000000,-18388.949901,0.000000,0.000000,0.000000,0.000000,2.066726e+04
25%,0.000000,-2747.423625,33.000000,1.000000,0.000000,0.000000,1.030532e+05
50%,0.000000,-1203.369529,42.000000,1.000000,0.000000,0.000000,1.450179e+05
75%,1.000000,-291.095954,53.000000,1.000000,1.000000,0.000000,2.034351e+05
max,20.000000,401755.400475,75.000000,4.000000,4.000000,1.000000,2.265604e+06

## Закачаем файл к себе на компьютер
И закомментируем ячейку, при включенной ячейке не работают сохранения

In [5]:
# from IPython.display import Javascript
# js_download = """
# var csv = '%s';

# var filename = 'dataset.csv';
# var blob = new Blob([csv], { type: 'text/csv;charset=utf-8;' });
# if (navigator.msSaveBlob) { // IE 10+
#     navigator.msSaveBlob(blob, filename);
# } else {
#     var link = document.createElement("a");
#     if (link.download !== undefined) { // feature detection
#         // Browsers that support HTML5 download attribute
#         var url = URL.createObjectURL(blob);
#         link.setAttribute("href", url);
#         link.setAttribute("download", filename);
#         link.style.visibility = 'hidden';
#         document.body.appendChild(link);
#         link.click();
#         document.body.removeChild(link);
#     }
# }
# """ % df.to_csv(index=False).replace('\n','\\n').replace("'","\'")

# Javascript(js_download)

----------

## <span style="color:green">Комментарий от наставника<span>
    
Комментируем код знаком `#`, всю ячейку комментируем командой `ctrl+/` ;)

---------

Спасибо!

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       19351 non-null float64
dob_days            21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        19351 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Выводы
Проблемы, которые нужно решить: 
    - отрицательные значения в детях, в днях стажа
    - отсутствую строки в днях стажа и доходе
    - некачественные названия столбцов
    - некорректные типы данных — в днях стажа и в доходе плавающая точка
    - неудобные данные для анализа — дни стажа лучше перевести в года
    - прыгающий регистр букв в образовании
    - есть дублирующие признаки — избыточны образование и его идентификатор и такая же проблема у семейного положения
    - непонятна валюта месячного дохода
    - минимальное значение в возрасте — 0
    
  ----------

----------

## <span style="color:green">Комментарий от наставника<span>

Классный способ выявить аномалии через функцию `describe()`. Хорошая практика делать предварительные выводы и думать о способах их обработки заранее, так легче организовать свою работу и познакомить себя и читателя с данными. С этим заданием ты справился отлично :)

---------

<a name="stage_2"></a>
# Этап 2. Обработаем данные
Поищем дубликаты, приведем названия столбцов в порядок, поработаем с признаками.


[Наверх к оглавлению](#contents)

In [7]:
df.columns.tolist()

['children',
 'days_employed',
 'dob_days',
 'education',
 'education_id',
 'family_status',
 'family_status_id',
 'gender',
 'income_type',
 'debt',
 'total_income',
 'purpose']

In [8]:
# Переименуем столбцы
cols = ['number_of_children',
        'days_employed',
        'client_age_in_years',
        'education_level',
        'education_level_id',
        'family_status',
        'family_status_id',
        'gender',
        'employment_type',
        'credit_repayment_status',
        'monthly_income',
        'credit_purpose'
       ]
df.set_axis(cols, axis='columns', inplace=True)

In [9]:
# Убедимся, что столбцы переименованы
df.columns.tolist()

['number_of_children',
 'days_employed',
 'client_age_in_years',
 'education_level',
 'education_level_id',
 'family_status',
 'family_status_id',
 'gender',
 'employment_type',
 'credit_repayment_status',
 'monthly_income',
 'credit_purpose']

In [10]:
# Подсчитаем суммарное количество пропусков
df.isnull().sum()

number_of_children            0
days_employed              2174
client_age_in_years           0
education_level               0
education_level_id            0
family_status                 0
family_status_id              0
gender                        0
employment_type               0
credit_repayment_status       0
monthly_income             2174
credit_purpose                0
dtype: int64

Одинаковое количество пропусков в днях работы и в доходе в месяц. Возможно, эти люди никогда не работали, так как молоды или работали не официально. Ну либо данные некорректно выгружены. Позже посмотрим на них подробнее.

In [11]:
# Заменим пропуски на нули.
# Подставлять средние или медианные значения некорректно, 
# так как это повысит шанс получения кредита, но не повысит качество данных
df['days_employed'] = df['days_employed'].fillna(0)

In [12]:
df['monthly_income'] = df['monthly_income'].fillna(0)

In [13]:
# Проверим замену
df.isnull().sum()

number_of_children         0
days_employed              0
client_age_in_years        0
education_level            0
education_level_id         0
family_status              0
family_status_id           0
gender                     0
employment_type            0
credit_repayment_status    0
monthly_income             0
credit_purpose             0
dtype: int64

----------

## <span style="color:green">Комментарий от наставника<span>

Всё круто, отлично, что описал возможные причины пропусков и обосновал с учётом специфики датасета, почему ты заменил именно на ноль. Ты прав, такая ситуация вполне возможна.

---------

In [14]:
# Посмотрим есть ли дубли
df.duplicated().sum()

54

In [15]:
# 54 дубля, скорее всего они появились из-за ошибки правил валидации на сервере, 
# заявки должны проверяться на дубли там в первую очередь.

In [16]:
# Удалим дубли и сбросим индекс
df = df.drop_duplicates().reset_index(drop=True)

In [17]:
# Проверим удалились ли дубли
df.duplicated().sum()

0

In [18]:
df.head(10)

,number_of_children,days_employed,client_age_in_years,education_level,education_level_id,family_status,family_status_id,gender,employment_type,credit_repayment_status,monthly_income,credit_purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи

----------

## <span style="color:green">Комментарий от наставника<span>
    
Молодец, что перепроверяешь наличие дублей после обработки. Всегда что-то может сработать не так :)    
    
### Что нужно доработать:
* Опиши возможные причины дублей в заявках на кредит. На работе ты можешь это использовать при предобработке подобных датасетов, или, еще лучше, изменить процесс заполнения заявок.

---------

Готово!

## Исследуем каждый столбец в отельности

In [19]:
# Посмотрим что с детьми
df['number_of_children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

In [20]:
# Значения -1 и 20 выглядят странно. Подсчитаем количество таких строк
df[df['number_of_children'] == -1]['number_of_children'].count()

47

In [21]:
# Заменим -1 на 1
df['number_of_children'] = df['number_of_children'].replace(-1, 1)

In [22]:
# Проверим замену
df[df['number_of_children'] == -1]['number_of_children'].count()

0

In [23]:
# Подсчитаем количество строк с 20 детьми
df[df['number_of_children'] == 20]['number_of_children'].count()

76

In [24]:
# Многовато, сгруппируем по возрасту, чтобы убедиться в корректности данных
df[df['number_of_children'] == 20].groupby('client_age_in_years')['client_age_in_years'].count()

client_age_in_years
0     1
21    1
23    1
24    1
25    1
26    1
27    2
29    2
30    3
31    2
32    2
33    2
34    3
35    2
36    2
37    4
38    1
39    1
40    4
41    2
42    3
43    2
44    2
45    3
46    3
48    1
49    3
50    3
51    1
52    1
53    1
54    1
55    1
56    5
57    1
59    2
60    1
61    1
62    1
64    1
69    1
Name: client_age_in_years, dtype: int64

In [25]:
df['number_of_children'].value_counts()

0     14107
1      4856
2      2052
3       330
20       76
4        41
5         9
Name: number_of_children, dtype: int64

----------

## <span style="color:green">Комментарий от наставника<span>
    
### Что можно сделать лучше:
* Шесть ячеек ты можешь заменить методом `value_counts()` ;)
---------

Готово, и правда так лучше.

In [26]:
# Если бы данные лежали за 40 годами, можно предположить, что вот у нас такая интересная выборка.
# Эдакий банк со специальными условиями для семей с 20 детьми. А так, считаем ошибкой — заменяем на 2.

In [27]:
df['number_of_children'] = df['number_of_children'].replace(20, 2)

In [28]:
# Кажется, что с детьми порядок
df['number_of_children'].unique()

array([1, 0, 3, 2, 4, 5])

In [29]:
# Теперь трудовой стаж в днях
df['days_employed'].describe()

count     21471.000000
mean      56821.423140
std      135010.270744
min      -18388.949901
25%       -2522.536607
50%        -989.271304
75%           0.000000
max      401755.400475
Name: days_employed, dtype: float64

In [30]:
# Выглядят хаотично. Есть отрицательные значения, значения не в целых числах да и вообще дни не очень удобно использовать.
# Разберемся для начала с отрицательными значениями

df['days_employed'] = df['days_employed'].abs()

In [31]:
df['days_employed'].describe()

count     21471.000000
mean      60307.713617
std      133489.355354
min           0.000000
25%         620.736110
50%        1818.689386
75%        4794.911909
max      401755.400475
Name: days_employed, dtype: float64

In [32]:
# Стало лучше, но максимальные значения выглядят как "столько не работают"
# Найдем самого великовозрастного человека в наборе
# Если предположить, что он работал с 16 лет, то:
max_days_of_employment = (df['client_age_in_years'].max() - 16) * 365
max_days_of_employment # Получим количество дней, по которым можно сделать отсев

21535

In [33]:
df[df['days_employed'] > max_days_of_employment]['days_employed'].count() / 21525 * 100
# Многовато, почти 16% от всего набора, но перевести в года и добавить новый столбец не помешает

16.004645760743323

In [34]:
df['years_employed'] = df['days_employed'] / 365

In [35]:
df['years_employed'] = df['years_employed'].astype(int)

In [36]:
# Удалим столбец с днями, оставим только года, пока непонятно, 
# что делать с тем, кто работает по тысяче лет, но оставим для лемматизации
del df['days_employed']

In [37]:
df.head()

,number_of_children,client_age_in_years,education_level,education_level_id,family_status,family_status_id,gender,employment_type,credit_repayment_status,monthly_income,credit_purpose,years_employed
0,1,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья,23
1,1,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля,11
2,0,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья,15
3,3,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование,11
4,0,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу,932

In [38]:
# Разберемся с возрастом
df['client_age_in_years'].describe()

count    21471.000000
mean        43.279074
std         12.574291
min          0.000000
25%         33.000000
50%         42.000000
75%         53.000000
max         75.000000
Name: client_age_in_years, dtype: float64

In [39]:
# Подсчитаем людей с возрастом меньше 0, 10 и 18 лет, таких 101
df[df['client_age_in_years'] == 0]['client_age_in_years'].count()

101

In [40]:
df[df['years_employed'] > 70].groupby(['client_age_in_years'])['client_age_in_years'].count()

client_age_in_years
0      17
22      1
26      2
27      3
28      1
31      1
32      3
33      2
34      3
35      1
36      3
37      5
38      8
39      4
40      7
41      6
42      9
43      9
44     10
45     11
46     13
47     13
48     20
49     30
50     61
51     73
52     95
53    105
54    145
55    162
56    184
57    212
58    208
59    254
60    243
61    214
62    235
63    192
64    179
65    136
66    139
67    132
68     80
69     74
70     54
71     48
72     28
73      6
74      4
Name: client_age_in_years, dtype: int64

In [41]:
# Разберемся с образованием
len(df['education_level'].unique())
# Уников 15, а в ID уников 5

15

In [42]:
df['education_level_id'].unique()

array([0, 1, 2, 3, 4])

In [43]:
# Приведем строки к нижнему регистру
df['education_level'] = df['education_level'].str.lower()

In [44]:
df['education_level'].unique()

array(['высшее', 'среднее', 'неоконченное высшее', 'начальное',
       'ученая степень'], dtype=object)

In [45]:
# Разберемся с семейным статусом, с количеством порядок, но приведем все к нижнему регистру
df['family_status'] = df['family_status'].str.lower()

In [46]:
df['family_status'].unique()

array(['женат / замужем', 'гражданский брак', 'вдовец / вдова',
       'в разводе', 'не женат / не замужем'], dtype=object)

In [47]:
# Посмотрим что с полом
df['gender'].unique()

array(['F', 'M', 'XNA'], dtype=object)

In [48]:
# Есть одна запись с чем-то непонятным
df[df['gender'] == 'XNA'].count()

number_of_children         1
client_age_in_years        1
education_level            1
education_level_id         1
family_status              1
family_status_id           1
gender                     1
employment_type            1
credit_repayment_status    1
monthly_income             1
credit_purpose             1
years_employed             1
dtype: int64

In [49]:
# Со статусами вроде порядок
df['employment_type'].unique()

array(['сотрудник', 'пенсионер', 'компаньон', 'госслужащий',
       'безработный', 'предприниматель', 'студент', 'в декрете'],
      dtype=object)

In [50]:
# Смотреть на доходы с 6 знаками после запятой неудобно.
# В контексте задачи, будь то центы, рубли или тиыны — точностью можно пожертвовать.
# Посмотрим на доходы, сначала приведем к целочисленным значениям
df['monthly_income'] = df['monthly_income'].astype(int)

In [51]:
df.head()

,number_of_children,client_age_in_years,education_level,education_level_id,family_status,family_status_id,gender,employment_type,credit_repayment_status,monthly_income,credit_purpose,years_employed
0,1,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,23
1,1,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,11
2,0,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,15
3,3,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,11
4,0,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,932

----------

## <span style="color:green">Комментарий от наставника<span>

Молодец, что уделил внимание каждой колонке, это действительно важно.

### Что можно сделать лучше:
* Прокомментируй для чего ты привел к целочисленным значениям переменную `monthly_income`. То, что очевидно для тебя, не всегда очевидно для заказчика + это поможет при передаче проекта коллеге :)
* Для чего нужно было применять `round(2)` в 47 ячейке? Когда применяешь `astype(int)`, десятичные знаки пропадают.

---------

Готово!

In [52]:
# Узнаем количество уникальных значений — 38
unique_credit_purposes = df['credit_purpose'].unique().tolist()
unique_credit_purposes

['покупка жилья',
 'приобретение автомобиля',
 'дополнительное образование',
 'сыграть свадьбу',
 'операции с жильем',
 'образование',
 'на проведение свадьбы',
 'покупка жилья для семьи',
 'покупка недвижимости',
 'покупка коммерческой недвижимости',
 'покупка жилой недвижимости',
 'строительство собственной недвижимости',
 'недвижимость',
 'строительство недвижимости',
 'на покупку подержанного автомобиля',
 'на покупку своего автомобиля',
 'операции с коммерческой недвижимостью',
 'строительство жилой недвижимости',
 'жилье',
 'операции со своей недвижимостью',
 'автомобили',
 'заняться образованием',
 'сделка с подержанным автомобилем',
 'получение образования',
 'автомобиль',
 'свадьба',
 'получение дополнительного образования',
 'покупка своего жилья',
 'операции с недвижимостью',
 'получение высшего образования',
 'свой автомобиль',
 'сделка с автомобилем',
 'профильное образование',
 'высшее образование',
 'покупка жилья для сдачи',
 'на покупку автомобиля',
 'ремонт жилью',
 'заняться высшим образованием']

In [53]:
m = Mystem()
string = '; '.join(unique_credit_purposes)
pprint.pprint(string)

('покупка жилья; приобретение автомобиля; дополнительное образование; сыграть '
 'свадьбу; операции с жильем; образование; на проведение свадьбы; покупка '
 'жилья для семьи; покупка недвижимости; покупка коммерческой недвижимости; '
 'покупка жилой недвижимости; строительство собственной недвижимости; '
 'недвижимость; строительство недвижимости; на покупку подержанного '
 'автомобиля; на покупку своего автомобиля; операции с коммерческой '
 'недвижимостью; строительство жилой недвижимости; жилье; операции со своей '
 'недвижимостью; автомобили; заняться образованием; сделка с подержанным '
 'автомобилем; получение образования; автомобиль; свадьба; получение '
 'дополнительного образования; покупка своего жилья; операции с недвижимостью; '
 'получение высшего образования; свой автомобиль; сделка с автомобилем; '
 'профильное образование; высшее образование; покупка жилья для сдачи; на '
 'покупку автомобиля; ремонт жилью; заняться высшим образованием')

In [54]:
lemmas = m.lemmatize(string)
pprint.pprint(Counter(lemmas))

Counter({' ': 59,
         '; ': 37,
         'покупка': 10,
         'недвижимость': 10,
         'автомобиль': 9,
         'образование': 9,
         'жилье': 7,
         'с': 5,
         'операция': 4,
         'на': 4,
         'свой': 4,
         'свадьба': 3,
         'строительство': 3,
         'получение': 3,
         'высокий': 3,
         'дополнительный': 2,
         'для': 2,
         'коммерческий': 2,
         'жилой': 2,
         'подержать': 2,
         'заниматься': 2,
         'сделка': 2,
         'приобретение': 1,
         'сыграть': 1,
         'проведение': 1,
         'семья': 1,
         'собственный': 1,
         'со': 1,
         'профильный': 1,
         'сдача': 1,
         'ремонт': 1,
         '\n': 1})

Выделим цели кредитов руками:
- автомобиль
- недвижимость
- образование
- свадьба

## Выводы
Заполнили пропуски, удалили дубли, выделили леммы. В датасете остались явно некорректные значения, но на последующий анализ они повлиять не должны.

-------

<a name="stage_3"></a>
# Этап 3. Ответим на вопросы
- Есть ли зависимость между наличием детей и возвратом кредита в срок?
- Есть ли зависимость между семейным положением и возвратом кредита в срок?
- Есть ли зависимость между уровнем дохода и возвратом кредита в срок?
- Как разные цели кредита влияют на его возврат в срок?


[Наверх к оглавлению](#contents)

## Зависимость между наличием детей и возвратом кредита в срок

In [55]:
number_of_children_set = df.groupby('number_of_children')['credit_repayment_status'].sum() / \
    df.groupby('number_of_children')['credit_repayment_status'].count() * 100

In [56]:
number_of_children_set

number_of_children
0    7.535266
1    9.163921
2    9.492481
3    8.181818
4    9.756098
5    0.000000
Name: credit_repayment_status, dtype: float64

In [57]:
grouped_number_of_children = df.groupby('number_of_children')['credit_repayment_status'].count()
grouped_number_of_children

number_of_children
0    14107
1     4856
2     2128
3      330
4       41
5        9
Name: credit_repayment_status, dtype: int64

In [58]:
children_pivot = df.pivot_table(index = ['number_of_children'], \
                                columns = ['credit_repayment_status'], \
                                values = 'credit_purpose', aggfunc='count')

children_pivot['ratio'] = children_pivot[1] / children_pivot[0] * 100
children_pivot
# Не смотря на то, что часть данных потерялась, на выводах это не сказывается.
# Эльвира, можешь объяснить почему так? Крутил-вертел сводную таблицу, но не понял в чем проблема. 
# Такая проблема во всех сводных.

credit_repayment_status        0       1      ratio
number_of_children
0                        13044.0  1063.0   8.149341
1                         4411.0   445.0  10.088415
2                         1926.0   202.0  10.488058
3                          303.0    27.0   8.910891
4                           37.0     4.0  10.810811
5                            9.0     NaN        NaN

### Люди с детьми или без отдают кредиты примерно на одном и том же уровне
Можно отметить, что люди с 5 детьми показывают 0, но выборка по ним не репрезентативна.
Бездетные отдают кредиты хуже.

---------

## Зависимость между семейным положением и возвратом кредита в срок

In [59]:
family_status_set = df.groupby('family_status')['credit_repayment_status'].sum() / \
      df.groupby('family_status')['credit_repayment_status'].count() * 100

In [60]:
family_status_set

family_status
в разводе                7.112971
вдовец / вдова           6.569343
гражданский брак         9.320202
женат / замужем          7.542126
не женат / не замужем    9.750890
Name: credit_repayment_status, dtype: float64

In [61]:
family_status_pivot = df.pivot_table(index=['family_status'], columns=['credit_repayment_status'], values='monthly_income', aggfunc='count')
family_status_pivot['ratio'] = family_status_pivot[1] / family_status_pivot[0] * 100
family_status_pivot

credit_repayment_status      0    1      ratio
family_status
в разводе                 1110   85   7.657658
вдовец / вдова             896   63   7.031250
гражданский брак          3775  388  10.278146
женат / замужем          11413  931   8.157364
не женат / не замужем     2536  274  10.804416

### Семейное положение влияет
Самые низкие показатели у разведенных и вдов — можно предположить, что возвращаемость кредитов зависит в том числе от наличия кормильца или супруга в семье.

---------

## Зависимость между уровнем дохода и возвратом кредита в срок

In [62]:
df['monthly_income'].quantile([0.25,0.5,0.75])

0.25     88946.5
0.50    135716.0
0.75    195751.5
Name: monthly_income, dtype: float64

In [63]:
# Так как мы не знает социального контекста, то распределим уровень дохода на 4 группы, присвоим статусы каждой группе
def income_status(monthly_income):
    if monthly_income <= 88946.5:
            return 'Низкий уровень дохода'
    if monthly_income <= 135716.0:
            return 'Средний уровень дохода'
    if monthly_income < 195751.5:
            return 'Высокий уровень дохода'
    return 'Сверхвысокий уровень дохода'

In [64]:
df['income_status'] = df['monthly_income'].apply(income_status)

In [65]:
df.head()

,number_of_children,client_age_in_years,education_level,education_level_id,family_status,family_status_id,gender,employment_type,credit_repayment_status,monthly_income,credit_purpose,years_employed,income_status
0,1,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,23,Сверхвысокий уровень дохода
1,1,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,11,Средний уровень дохода
2,0,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,15,Высокий уровень дохода
3,3,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,11,Сверхвысокий уровень дохода
4,0,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,932,Высокий уровень дохода

In [66]:
monthly_income_set = df.groupby('income_status')['credit_repayment_status'].sum() / \
      df.groupby('income_status')['credit_repayment_status'].count() * 100

In [67]:
monthly_income_set.sort_values()

income_status
Сверхвысокий уровень дохода    7.134873
Низкий уровень дохода          7.805514
Средний уровень дохода         8.476155
Высокий уровень дохода         9.018073
Name: credit_repayment_status, dtype: float64

In [68]:
monthly_income_pivot = df.pivot_table(index=['income_status'], columns=['credit_repayment_status'], values='education_level_id', aggfunc='count')
monthly_income_pivot['ratio'] = monthly_income_pivot[1] / monthly_income_pivot[0] * 100
monthly_income_pivot

credit_repayment_status         0    1     ratio
income_status
Высокий уровень дохода       4883  484  9.911939
Низкий уровень дохода        4949  419  8.466357
Сверхвысокий уровень дохода  4985  383  7.683049
Средний уровень дохода       4913  455  9.261144

In [69]:
# Проверим количество людей в каждой из групп
df['income_status'].value_counts(normalize = True)

Средний уровень дохода         0.250012
Низкий уровень дохода          0.250012
Сверхвысокий уровень дохода    0.250012
Высокий уровень дохода         0.249965
Name: income_status, dtype: float64

### Есть незначительная разница в возвращаемости кредитов от уровня доходов
Хуже всего покатель у людей со сверхвысокими и низкими доходами. Если зависимость возвращаемости кредитов у людей с низкими доходами очевидна, то сверхвысокие объяснить не могу. С количеством человек в каждой из групп — порядок.

--------

## Как разные цели кредита влияют на его возврат в срок?

In [70]:
# # Напишем функцию для более точного отображения целей кредита
# def credit_purpose_status(credit_purpose):
#     if 'образован' in credit_purpose:
#             return 'Образование'
#     if 'авто' in credit_purpose:
#             return 'Автомобиль'
#     if 'свадь' in credit_purpose:
#             return 'Свадьба'
#     if 'жиль' or 'недв' in credit_purpose:
#             return 'Недвижимость'
#     return 'Ошибка классификации'

In [71]:
# df['credit_purpose_status'] = df['credit_purpose'].apply(credit_purpose_status)

In [72]:
# credit_purpose_set = df.groupby('credit_purpose_status')['credit_repayment_status'].sum() / \
#       df.groupby('credit_purpose_status')['credit_repayment_status'].count() * 100

In [73]:
# credit_purpose_set.sort_values()

credit_purpose_status
- Недвижимость    7.231367
- Свадьба         7.965739
- Образование     9.217738
- Автомобиль      9.354689

In [74]:
# Попробуем через map(), составим словарь из двух списков
credit_purpose_keys= []
credit_purpose_list = list(df.credit_purpose.unique())
for value in range(len(credit_purpose_list)):
    if 'образован' in credit_purpose_list[value]:
        credit_purpose_keys.append('Образование')
    elif 'авто' in credit_purpose_list[value]:
        credit_purpose_keys.append('Автомобиль')
    elif 'свадь' in credit_purpose_list[value]:
        credit_purpose_keys.append('Свадьба')
    else:
        credit_purpose_keys.append('Недвижимость')
        
credit_purpose_keys

['Недвижимость',
 'Автомобиль',
 'Образование',
 'Свадьба',
 'Недвижимость',
 'Образование',
 'Свадьба',
 'Недвижимость',
 'Недвижимость',
 'Недвижимость',
 'Недвижимость',
 'Недвижимость',
 'Недвижимость',
 'Недвижимость',
 'Автомобиль',
 'Автомобиль',
 'Недвижимость',
 'Недвижимость',
 'Недвижимость',
 'Недвижимость',
 'Автомобиль',
 'Образование',
 'Автомобиль',
 'Образование',
 'Автомобиль',
 'Свадьба',
 'Образование',
 'Недвижимость',
 'Недвижимость',
 'Образование',
 'Автомобиль',
 'Автомобиль',
 'Образование',
 'Образование',
 'Недвижимость',
 'Автомобиль',
 'Недвижимость',
 'Образование']

In [75]:
credit_purpose_list

['покупка жилья',
 'приобретение автомобиля',
 'дополнительное образование',
 'сыграть свадьбу',
 'операции с жильем',
 'образование',
 'на проведение свадьбы',
 'покупка жилья для семьи',
 'покупка недвижимости',
 'покупка коммерческой недвижимости',
 'покупка жилой недвижимости',
 'строительство собственной недвижимости',
 'недвижимость',
 'строительство недвижимости',
 'на покупку подержанного автомобиля',
 'на покупку своего автомобиля',
 'операции с коммерческой недвижимостью',
 'строительство жилой недвижимости',
 'жилье',
 'операции со своей недвижимостью',
 'автомобили',
 'заняться образованием',
 'сделка с подержанным автомобилем',
 'получение образования',
 'автомобиль',
 'свадьба',
 'получение дополнительного образования',
 'покупка своего жилья',
 'операции с недвижимостью',
 'получение высшего образования',
 'свой автомобиль',
 'сделка с автомобилем',
 'профильное образование',
 'высшее образование',
 'покупка жилья для сдачи',
 'на покупку автомобиля',
 'ремонт жилью',
 'заняться высшим образованием']

In [76]:
# Сшили словарь, теперь можно передать в map()
credit_purpose_dict = dict(zip(credit_purpose_list, credit_purpose_keys))

In [77]:
# Готово, работает, хотя не уверен, что нужно было действовать именно так
df['credit_purpose_status'] = df['credit_purpose'].map(credit_purpose_dict)

In [78]:
credit_purpose_pivot = df.pivot_table(index=['credit_purpose_status'], columns=['credit_repayment_status'], values='education_level_id', aggfunc='count')
credit_purpose_pivot['ratio'] = credit_purpose_pivot[1] / credit_purpose_pivot[0] * 100
credit_purpose_pivot

credit_repayment_status      0    1      ratio
credit_purpose_status
Автомобиль                3905  403  10.320102
Недвижимость             10032  782   7.795056
Образование               3644  370  10.153677
Свадьба                   2149  186   8.655188

### Цели кредита влияют
Хуже всего выглядят свадьбы и недвижимость. Выглядит логично, ипотека — пожалуй, самая крупная кредитная и рисковая сделка для частного лица.
Свадьбы — это не инвестиционный проект и это неликвидный кредит, который по сути проедают.

-------

<a name="stage_4"></a>
# Этап 4. Результаты исследования
Есть зависимости между целями кредита, семейным положением, уровнем дохода и количеством детей в семье. Нельзя сказать, что они кардинально отличаются, но 2% на больших числах могут оказать существенное влияние на кредитный портфель банка. Особое внимание следует уделить вдовам/вдовцам или молодоженам — с ними могут риски по невозврату кредитов выше.


## Рекомендации для банка
    - Уделить внимание правилам валидации на сервере, чтобы больше не сталкиваться с проблемой дублей.
    - Продумать сценарий, когда отличается дата или время заявки, а уникальный идентификатор пользователя один и тот же, 
      иначе фактически дубли будут, но метод duplicated() их не найдет.
    - Считать стаж работы в годах, пользователи чаще всего не знают свой стаж в днях.
    - Показывать операторам в банке или пользователям на сайте подсказки заранее, когда вводят сверхвысокие/сверхнизкие
      значения в полях: возраст, стаж, количество детей.
    - Блокировать отправку заявок с заведомо некорректными значениями, которые могут быть важны для анализа, например,
      с отрицательным количеством детей.


[Наверх к оглавлению](#contents)

----------

## <span style="color:green">Общий комментарий от наставника<span>
    
Молодец, ты проделал отличную работу. Ты проанализировал каждую колонку, обработал все неточности, совпровождаешь всю работу комментариями в ячейках с кодом и разметке. Твою работу приятно читать, она структурирована и понятна. Так держать!
    
### Что можно сделать лучше:
* Добавь краткое описание проекта в начале. Это как введение в начале каждой книжки :)
* Улучши оформление и рекомендации.
* Остальные комментарии я оставила под заданиями
   
### Что нужно доработать:
* Используй `pivot_table()`
* Опиши возможные причины дублей.

---------

----------

## <span style="color:green">Комментарий от наставника<span>
    
Выводы отличные, нет воды, всё сопровождается кодом и цифрами. Круто, что выделил группы доходов по квантилям!
    
### Что можно сделать лучше:
* Покажи количество клиентов со сверхвысоким уровнем дохода, возможно, выборка нерепрезентативна, как в случае с пятью детьми.
* Как вариант: вместо функции `credit_purpose_status()` можно использовать комбинацию словаря и функции `map()`. Твой вариант хорош, но когда пишешь текст руками, могут быть ошибки.
* Для анализа у тебя было четыре вопроса. Я тебе рекомендую сделать из вопроса заголовок, чтобы читатель и ты понимали, о чём сейчас пойдет речь. Ты пишешь вывод жирным шрифтом, это хорошо, но при отсутствии заголовков, они сами превращаются в заголовки в конце анализа, тяжелее воспринимать структуру.
* Подробнее распиши рекомендации для банка, что ему следует сделать, опираясь на результаты твоего анализа.
   
### Что нужно доработать:
* Используй метод `pivot_table()` в анализе, он наглядный и симпатичный. Например, ты можешь показать в одной табличке сколько человек вернули / не вернули кредит, какая доля задолжников от всего клиентов. 
---------